body,
html {
  margin: 0%;
  padding: 0%;
}

.container {
  color: #d6b0fd;
  margin: auto;
  max-width: 1100px;
}

/* NAV */
ul {
  margin-right: 1%;
  display: flex;
  justify-content: end;
  margin-top: -4%;
}

li {
  list-style: none;
  margin-top: 4%;
  padding: 2%;
}

li > a {
  color: #7f00ff;
  font-family: nav-text;
  font-size: 25px;
}

li > a:hover {
  color: #ffcda2;
}

h1 {
  font-family: heading-text;
  font-size: 6em;
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #ffcda2;
}

/* CHARTS SECTION */
#chart-img,
#audio-controls {
  display: flex;
  justify-content: center;
}

#album_title {
  font-family: album_title;
  font-size: 2em;
}

img {
  width: 200px;
  height: 200px;
}

/* ABOUT */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-heading {
  font-family: "about-heading-text";
  font-size: 45px;
  margin-top: 5%;
  color: #d7dae1;
}

.about-text {
  color: #bdbdbd;
  font-family: "about-text";
  font-size: 25px;
  margin-top: 0%;
  width: 800px;
}

img.soup-image {
  width: 300px;
  height: 300px;
  display: flex;
}

img.soup-image:hover {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

.aaron-text {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  align-items: center;
}

.aaron {
  color: #bdbdbd;
  width: 600px;
  font-family: "about-text";
  font-size: 25px;
  margin-top: 0%;
  width: 800px;
}

.soup-image2 {
  width: 300px;
  height: 300px;
  display: flex;
}

/* FOOTER */
footer {
  background-color: #1c2321;
  color: #bdbdbd;
  clear: both;
  position: relative;
  z-index: 1;
  height: 3em;
  margin-top: 40em;
}

#footer-text {
  display: grid;
  justify-content: center;
}

#date {
  display: flex;
  justify-content: center;
}
@font-face {
  font-family: "album_title";
  src: url("./assets/album_title.TTF");
}

@font-face {
  font-family: "heading-text";
  src: url("./assets/heading-text.otf");
}

@font-face {
  font-family: "nav-text";
  src: url("./assets/AntipastoPro_trial.ttf");
}

.videoTag {
  min-height: 100vh;
  min-width: 100vw;
  z-index: -10;
  position: fixed;
  top: 0;
}

.add-margin {
  margin: 1rem;
}

.add-smaller-margin {
  margin: 0.7rem;
}
