body, html {
    margin: 0%;
    padding: 0%;
}

.container {
   margin-left: 2%;
   margin-right: 2%;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 600px;
}

video {
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  object-fit: cover;
  z-index: -1;
}

/* NAV */
ul {
    margin-right: 1%;
    display: flex;
    justify-content: end;
    margin-top: -4%;
  }
  
  li {
  list-style: none;
  margin-top: 4%;
  padding: 2%;
  }
  
  li > a {
    color: black;
    text-decoration: none;
    font-family: nav-text;
    font-size: 25px;
  }
  
  li > a:hover {
    color: red;
  }

h1 {
    font-family: heading-text;
    font-size: 6em;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color:black;
}


/* CHARTS SECTION */
#chart-img, #audio-controls {
display: flex;
justify-content: center;
}

#album_title {
  font-family: album_title;
  font-size: 2em;
}

img {
  width:200px;
  height: 200px;
}


/* CHART BUTTON*/
#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#space-btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color:#f14ebd;
    height:55px;
    }

    #space-btn:hover{
    border-color: rgba(255,255,255,1);
    }
  
/* music container */
#music-container {
  display: flex;
  justify-content: center;
}

#music-img {
  margin-top:5%;
}

/* FORM */
.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #262626;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin-top: 20%;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-box .user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #eae6e6;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.btn-container {
  display: flex;
  justify-content:center;
}
/* CSS */
 .button-17 {
  align-items: center;
  appearance: none;
  background-color: #eae6e6;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 40%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


/* ABOUT */
.about-section {
  display: flex;
  justify-content: space-between;
}

.about-heading {
  font-family: "about-heading-text";
font-size: 45px;
margin-top: 5%;
color: #343a40;
}

.about-text {
  font-family: "about-text";
  font-size: 25px;
  margin-top: 0%;
  width: 800px;
}

img.soup-image {
  width: 300px;
  height: 300px;
  display: flex;
}

img.soup-image:hover {
-webkit-filter: grayscale(100%) blur(3px);
filter: grayscale(100%) blur(3px);
}

.aaron-text {
  display: flex;
  justify-content: space-between;
  margin-top:10%;
}

.aaron{
  width: 600px;
  font-family: "about-text";
  font-size: 25px;
  margin-top: 0%;
  width: 800px;
}

.soup-image2 {
  width: 300px;
  height: 300px;
  display: flex;
}




/* FOOTER */
footer {
    background-color: #1c2321;
    color: #74abf7;
    clear: both; 
    position: relative; 
    z-index: 1; 
    height: 3em; 
    margin-top: 40em; 
}

#footer-text {
    display: grid;
    justify-content: center;
}

#date {
    display: flex;
  justify-content: center;
}
@font-face {
  font-family: 'album_title';
  src: url('./assets/album_title.TTF');
}

@font-face {
    font-family: 'heading-text';
    src: url('./assets/Oasis.ttf');
}

@font-face {
    font-family: 'nav-text';
    src: url('./assets/AntipastoPro_trial.ttf');
}